<!DOCTYPE html>
<html>
<head>
    <title>Pokemon Database</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <h1>Pokemon Database</h1>

    [ <a href="/">Home</a> | <a href="/cities">Pokemon Cities</a> | <a href="/pokemon">Pokemon</a> | <a href="/gymleaders">Gym Leaders</a> | <a href="/types">Types</a> ]

    {{{body}}}


</body>
</html>

